aiohttp>=1.1,<1.2
hbmqtt>=0.8,<0.9
jsonschema>=2.5,<2.6
motor>=1.0,<1.1
pijon>=0.1,<0.2
# pycares-2.0.0 breaks errno.ECONNRESET
pycares==1.0.0
slixmpp>=1.1,<1.2
tukio>=0.10,<0.11
websockets>=3.2,<3.3
dnspython>=1.15,<1.16
