version: "3"

services:
    mosquitto:
        image: toke/mosquitto:latest

    mongo:
        image: mongo:3.4

    redis:
        image: redis:3.2-alpine

    worker:
        # docker build -t local/worker .
        image: local/worker
        deploy:
            replicas: 5
        volumes:
            - ../../nyuki/:/home/src/nyuki/nyuki/
            - ./worker.py:/home/worker.py
            - ./default.json:/default.json
